
* {
    box-sizing: border-box;
  }

  html, body{
      margin: 0;
      padding: 0;
  }


header{
    font-size: 2em;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border:3px solid grey;
    flex-direction: column
    
    
    
    /* width: 100%; */
}

h1{
    margin-bottom: 0;
}
header p {
    margin-top:0;
}
#form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
    position: relative;
    min-height: 10vh;
    /* background-color: blue; */
    margin-top: 25px;
}

form{
    border: 3px solid ;
    border-radius: 15px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* font-size: 2em; */
    

}

button{
    border-radius: 5px;
    font-size: 1rem;
    padding:5px;
    background-color: rgba(84, 150, 236, 0.801);
    color: white;
}

.p-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 3rem;
    /* background-color: blue; */
}

input[type=text]{
    border: none;
    border-bottom: 2px solid grey;
    
}

select{
    border: none;
    border-bottom: 2px solid grey;
}